*{
    list-style: none;
    margin: 0;
}
@media only screen and (max-width: 400px) {
}
 body{
    color: white;
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
}
.carrinho{
    filter: invert(1);
    position: absolute;
    left:  5%;
    height: 50px;
}
.icone{
    filter: invert(1);
    position: absolute;
    right: 5%;
    top: 10%;
    height: 60px;
}

header a{
    text-align: center;
    text-decoration: none;
    color: white;
}
header{
    text-align: center;
    text-decoration: none;
    grid-area: cabeca;
    position: relative;
    padding: 20px;
    background-color: #333;
}

main{
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: principal;
    color: rgb(17, 17, 17);
    background-color: white;
}
.meucarrinho {
    justify-content: center;
    border-radius: 10px;
    padding: 35px;
    margin: auto;
    background-color: #333;
    width: 400px;
    height: min-content;
}
.h3 {
    color: white;
}
.meucarrinho .items-carrinho {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-radius: 7px;
    box-shadow: 0 4px 18px #333;
}
.meucarrinho .items-carrinho .imgs {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.meucarrinho .items-carrinho .imgs .imag {
    width: 90%;
}

.meucarrinho .pagar{
    cursor: pointer;
    width: 60%;
    margin-top: 5px;
    border-radius: 10px;
    transition: .5s;
    background-color: white;
    padding: 15px 0;
}
footer{
    width: 100%;
    bottom: 0;
    grid-area: rodape;
    text-align: center;
    position: fixed;
    color: white;
    padding: 20px;
    background-color: #333;
}