*{
    margin: 0;
}
@media only screen and (max-width: 400px) {
}
 body{
    color: white;
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
    grid-template-columns: "auto auto auto";
    grid-template-rows: "auto auto auto";
}
.carrinho{
    filter: invert(1);
    position: absolute;
    left:  5%;
    height: 50px;
}
.icone{
    filter: invert(1);
    position: absolute;
    right: 5%;
    top: 10%;
    height: 60px;
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: static;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    width: 200px;
}
.card p{
    margin-bottom: 60px;
}
.card h1{
    font-size: 50px;
}
.card h2{
    font-size: 30px;
    font-weight: 500px;
}
.card img{
    width: 200px;
    border-radius: 5px;
}

.card a{
    position: relative;
    border-radius: 20px;
    background-color: black;
    display: block;
    height: 45px;
    width: 120px;
    align-items: center;
    text-decoration: none;
    color: antiquewhite;
    transition: 200ms;
}
.card a:hover{
    background-color: rgb(65, 64, 64);
    color: rgb(7, 7, 7);
}
.card2 {
    width: 100%;
}
header a{
    text-align: center;
    text-decoration: none;
    color: white;
}
header{
    text-align: center;
    text-decoration: none;
    grid-area: cabeca;
    position: relative;
    padding: 20px;
    background-color: #333;
}
main{
    text-align: center;
    grid-area:principal;
    color: rgb(17, 17, 17);
    position: relative;
    grid-area: principal;
    background-color: white;
}

footer{
    grid-area: rodape;
    text-align: center;
    position: relative;
    color: white;
    padding: 20px;
    grid-area: rodape;
    background-color: #333;
}