
*{
    margin: 0;
}
@media screen: (width);
body{
    display: grid;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: "200px 200px 200px";
    grid-template-rows: "auto auto auto";
}
header{
    color: white;
    height:200px;
    grid-area: cabeca;
    background-color: blue;
}

main{
    color: white;
    height: 400px;
    grid-area: principal;
    background-color: black;
}

footer{
    color: white;
    height: 200px;
    grid-area: rodape;
    background-color: brown;
}