*{
    margin: 0;
}
@media only screen and (max-width: 800px) {
}
 body{
    color: white;
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "secundario principal principal"
    "rodape rodape rodape";
    grid-template-columns: "200px 150px 100px";
    grid-template-rows: "150px auto auto";
}
.carrinho{
    filter: invert(1);
    position: absolute;
    right: 10%;
    top:  10%;
    height: 50px;
}
.icone{
    filter: invert(1);
    position: absolute;
    right: 5%;
    top: 10%;
    height: 60px;
}

.caixa_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 15px;
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(160, 155, 160, 0.151);
   
}

.card img{
    width: 200px;
    border-radius: 5px;
}

.card a{
    border-radius: 30px;
    background-color: black;
    display: block;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: antiquewhite;
    transition: 200ms;
}
.card a:hover{
    background-color: rgb(65, 64, 64);
    color: rgb(7, 7, 7);
}
aside{
    text-align: center;
    grid-area: secundario;
    background-color: blue;
    width: 150px;
    height: 90%;
    padding: 20px;
    margin: 20px;
}
header{
    text-align: center;
    grid-area: cabeca;
    color: white;
    position: relative;
    padding: 20px;
    grid-area: cabeca;
    background-color: #333;
}

main{
    text-align: center;
    grid-area:principal;
    color: rgb(17, 17, 17);
    position: relative;
    grid-area: principal;
    background-color: white;
}

footer{
    text-align: center;
    position: relative;
    grid-area:rodape;
    color: white;
    padding: 20px;
    grid-area: rodape;
    background-color: #333;
}